{% extends 'bootstrap/base.html' %}

{% block title %}
    Six Degrees
{% endblock %}

<!-- {% block navbar %}
  
{% endblock %} -->


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    
{% endblock %}
